@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.section-one{
    background-color: #1f2937;
}

#header-logo{
    color: #F9FAF8;
    font-size:24px;
}
.header-link{
    font-size: 18px;
    color:#e5e7eb;
    margin: 15px;
}

.navbar{
    display:flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-right, .navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

.sign-up-section-one{
    background-color:#3882f6;
    color: white;
    width: 100px;
    height: 20px;
    border:1px;
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-left, .content-right{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img{
    margin: 50px;
}

#head{
font-size: 36px;
color: #1f2937;
text-align: center;
font-weight: bolder;
}
.all-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.blue-box{
    border: 3px solid blue;
    border-radius: 5px;
    height: 200px;
    width:200px;
}
.p-two{
    text-align: center;
    font-size: 18px;
}

.section-three{
    background-color: #e5e7eb;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.quote-one{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1f2937;
}

.quote-two{
    font-weight: bolder;
    color: black;
    font-size: 25px;
    text-align: left;
    margin-left: 14cm;  
}
